.menu__item
{
	float: left;
    list-style: none;
    position: relative;
    margin: 0 18px;
}
.menu_expand_yes .menu__list-item
{
	padding-left: 12px;
    line-height: 20px;

    cursor: pointer;

    list-style: none;
}
.menu_expand_yes .menu__list-item:hover
{
    background: #ffd8a6;
}